<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078683122817-hh6ls92d4p9utb57mmq3t455643eug4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078683122817-hh6ls92d4p9utb57mmq3t455643eug4e</string>
	<key>API_KEY</key>
	<string>AIzaSyCcLEQeOh1II4vMH-Puggp6P5YftaDgo_w</string>
	<key>GCM_SENDER_ID</key>
	<string>1078683122817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wopt.WOPT</string>
	<key>PROJECT_ID</key>
	<string>wopt-66ee4</string>
	<key>STORAGE_BUCKET</key>
	<string>wopt-66ee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078683122817:ios:e775d307ec45b4111fe180</string>
</dict>
</plist>